.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-bar {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 32px;
  min-height: 40px;
  margin: 0 auto;
  padding: 10px;
}

.nav-bar-name {
  float: left;
}

.nav-bar-cart {
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
